{:paths ["src"]
 :deps {;; Maybe those should be "provided"??
        org.clojure/clojure        {:mvn/version "1.10.1"}
        org.clojure/clojurescript  {:mvn/version "1.10.597"}

        net.cgrand/macrovich       {:mvn/version "0.2.1"}}}
